amqp
annotated-types
asgiref
asttokens
Authlib
bandit
beautifulsoup4
billiard
black
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
colorama
coreapi
coreschema
coverage
cron-descriptor
cryptography
dataclasses
decorator
Django
django-axes
django-celery-beat
django-celery-results
django-cors-headers
django-debug-toolbar
django-extensions
django-polymorphic
django-prometheus
django-ratelimit
django-redis
django-storages
django-timezone-field
djangorestframework
djongo
dnspython
dparse
drf-yasg
elastic-transport
elasticsearch
executing
factory_boy
faiss-cpu
Faker
filelock
flake8
fsspec
gunicorn
hashids
huggingface-hub
idna
inflection
iniconfig
ipython
ipython_pygments_lexers
isort
itypes
jedi
Jinja2
joblib
kombu
markdown-it-py
MarkupSafe
marshmallow
matplotlib-inline
mccabe
mdurl
mongoengine
mpmath
mypy
mypy-extensions
networkx
nltk
numpy
packaging
parso
pathspec
pbr
pillow
pip
platformdirs
pluggy
prometheus_client
prompt_toolkit
psutil
psycopg2-binary
pure_eval
pycodestyle
pycparser
pydantic
pydantic_core
pyflakes
Pygments
pymongo
pytest
pytest-cov
pytest-django
python-crontab
python-dateutil
python-dotenv
pytz
PyYAML
redis
regex
requests
rich
ruamel.yaml
ruamel.yaml.clib
safetensors
safety
safety-schemas
scikit-learn
scipy
sentence-transformers
sentry-sdk
setuptools
shellingham
six
soupsieve
sqlparse
stack-data
stevedore
sympy
threadpoolctl
tokenizers
torch
tqdm
traitlets
transformers
typer
typing_extensions
tzdata
uritemplate
urllib3
vine
wcwidth
weaviate-client
whitenoise